[submodule "src/stage1/perception_models"]
    path = src/stage1/perception_models
    url = https://github.com/facebookresearch/perception_models

[submodule "src/stage1/lora/LoRA-Pro"]
    path = src/stage1/lora/LoRA-Pro
    url = https://github.com/mrflogs/LoRA-Pro

[submodule "src/stage1/discretization/bsq-vit"]
    path = src/stage1/discretization/bsq-vit
    url = https://github.com/zhaoyue-zephyrus/bsq-vit

[submodule "src/stage1/discretization/vector-quantize-pytorch"]
    path = src/stage1/discretization/vector-quantize-pytorch
    url = https://github.com/lucidrains/vector-quantize-pytorch

[submodule "src/stage1/discretization/LightningDiT"]
    path = src/stage1/discretization/LightningDiT
    url = https://github.com/hustvl/LightningDiT

[submodule "src/stage2/denoise/HyperSIGMA"]
    path = src/stage2/HyperSIGMA
    url = https://github.com/WHU-Sigma/HyperSIGMA

[submodule "src/stage2/generative/HSIGene"]
    path = src/stage2/generative/HSIGene
    url = https://github.com/LiPang/HSIGene

[submodule "src/stage2/generative/maskbit"]
    path = src/stage2/generative/maskbit
    url = https://github.com/markweberdev/maskbit

[submodule "src/stage2/generative/MeanFlow"]
    path = src/stage2/generative/MeanFlow
    url = https://github.com/haidog-yaqub/MeanFlow

[submodule "src/stage2/generative/modified-shortcut-models-pytorch"]
    path = src/stage2/generative/modified-shortcut-models-pytorch
    url = https://github.com/yukara-ikemiya/modified-shortcut-models-pytorch

[submodule "src/stage2/generative/integrate-the-integrator"]
    path = src/stage2/generative/integrate-the-integrator
    url = https://github.com/lodestone-rock/integrate-the-integrator

[submodule "src/stage1/MoEs/Mixture-of-Transformers"]
    path = src/stage1/MoEs/Mixture-of-Transformers
    url = https://github.com/facebookresearch/Mixture-of-Transformers.git

[submodule "src/stage1/MoEs/MoBA"]
    path = src/stage1/MoEs/MoBA
    url = https://github.com/MoonshotAI/MoBA

[submodule "src/stage1/one_d_tokenizer/D-AR"]
    path = src/stage1/one_d_tokenizer/D-AR
    url = https://github.com/showlab/D-AR

[submodule "src/stage1/one_d_tokenizer/GigaTok"]
    path = src/stage1/one_d_tokenizer/GigaTok
    url = https://github.com/SilentView/GigaTok

[submodule "src/stage1/one_d_tokenizer/SelftokTokenizer"]
    path = src/stage1/one_d_tokenizer/SelftokTokenizer
    url = https://github.com/selftok-team/SelftokTokenizer

[submodule "src/stage1/one_d_tokenizer/titok"]
    path = src/stage1/one_d_tokenizer/titok
    url = https://github.com/bytedance/1d-tokenizer.git

[submodule "src/stage2/generative/shortcut_pytorch"]
    path = src/stage2/generative/shortcut_pytorch
    url = https://github.com/smileyenot983/shortcut_pytorch

[submodule "src/stage1/MoEs/mixture_of_recursions"]
    path = src/stage1/MoEs/mixture_of_recursions
    url = https://github.com/raymin0223/mixture_of_recursions

[submodule "src/utilities/optim/dion"]
	path = src/utilities/optim/dion
	url = git@github.com:microsoft/dion.git

[submodule "src/stage2/detections/GT-HAD"]
	path = src/stage2/detections/GT-HAD
	url = https://github.com/jeline0110/GT-HAD.git

[submodule "src/stage2/unmixing/traditional/HySUPP"]
    path = src/stage2/unmixing/traditional/HySUPP
    url = https://github.com/BehnoodRasti/HySUPP.git

[submodule "src/stage2/unmixing/traditional/Hyperspectral-Unmixing-Models"]
    path = src/stage2/unmixing/traditional/Hyperspectral-Unmixing-Models
    url = https://github.com/UPCGIT/Hyperspectral-Unmixing-Models.git

[submodule "src/stage2/generative/TiM"]
    path = src/stage2/generative/TiM
    url = https://github.com/WZDTHU/TiM.git

[submodule "src/stage2/detections/AETNet"]
    path = src/stage2/detections/AETNet
    url = https://github.com/ZhaoxuLi123/AETNet.git

[submodule "src/stage1/one_d_tokenizer/semanticist/semanticist"]
    path = src/stage1/one_d_tokenizer/semanticist/semanticist
    url = https://github.com/visual-gen/semanticist.git

[submodule "src/stage1/one_d_tokenizer/FlowMo"]
    path = src/stage1/one_d_tokenizer/FlowMo
    url = https://github.com/kylesargent/FlowMo.git

[submodule "src/stage1/VAEs/maskbit/maskbit"]
	path = src/stage1/VAEs/maskbit/maskbit
	url = https://github.com/markweberdev/maskbit.git

[submodule "src/stage1/VAEs/LeanVAE"]
	path = src/stage1/VAEs/LeanVAE
	url = https://github.com/westlake-repl/LeanVAE.git

[submodule "src/stage1/VAEs/unitok"]
	path = src/stage1/VAEs/unitok
	url = https://github.com/FoundationVision/UniTok.git

[submodule "src/stage1/VAEs/WeTok"]
	path = src/stage1/VAEs/WeTok
	url = https://github.com/zhuangshaobin/WeTok.git

[submodule "src/stage1/VAEs/SphereAR"]
	path = src/stage1/VAEs/SphereAR
	url = https://github.com/guolinke/SphereAR.git

[submodule "src/stage2/generative/DCGen"]
	path = src/stage2/generative/DCGen
	url = https://github.com/dc-ai-projects/DC-Gen.git

[submodule "src/stage2/generative/min_pi_flow"]
	path = src/stage2/generative/min_pi_flow
	url = https://github.com/enkeejunior1/min-pi-flow.git

[submodule "src/utilities/transport/alpha_flow"]
	path = src/utilities/transport/alpha_flow
	url = https://github.com/snap-research/alphaflow.git

[submodule "src/stage1/self_supervised/lejepa"]
	path = src/stage1/self_supervised/lejepa
	url = https://github.com/rbalestr-lab/lejepa.git

# forked repo
[submodule "src/stage1/featups/loftup"]
	path = src/stage1/featups/loftup
	url = git@github.com:294coder/loftup-mod.git
[submodule "src/stage2/Hyperspectral-Classification"]
	path = src/stage2/Hyperspectral-Classification
	url = https://github.com/eecn/Hyperspectral-Classification.git
[submodule "src/stage2/layers/nested_learning"]
	path = src/stage2/layers/nested_learning
	url = https://github.com/kmccleary3301/nested_learning.git
[submodule "src/utilities/transport/py_meanflow"]
	path = src/utilities/transport/py_meanflow
	url = https://github.com/Gsunshine/py-meanflow.git
[submodule "src/stage2/layers/LaCT"]
	path = src/stage2/layers/LaCT
	url = https://github.com/a1600012888/LaCT.git
[submodule "src/stage2/generative/LuminaImage"]
	path = src/stage2/generative/LuminaImage
	url = https://github.com/Alpha-VLLM/Lumina-Image-2.0.git
[submodule "src/stage1/self_supervised/pixio"]
    path = src/stage1/self_supervised/pixio
    url = https://github.com/facebookresearch/pixio.git
[submodule "src/stage1/VAEs/SSVAE"]
	path = src/stage1/VAEs/SSVAE
	url = https://github.com/zai-org/SSVAE.git
